.filmes-container{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  margin: 40px;
}

h2 {
  color: white;
  font-size: 22px;
  text-align: center;
}


.image-link:hover {
  opacity: 0.6;
  transition: ease-in 0.2s;
  cursor: pointer;
}


footer {
  position: fixed;
  bottom: 0;
  background-color: #201e1e;
  color: white;
  text-align: center;
  padding: 5px 0;
  width: 100%;
}




