/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: black;
}


h1, h2, p {
    text-align: center;
    color: white;
}

img {
    margin-bottom: 25px;
}


.destaques, .vantagens, .videos {
    padding: 20px;
    text-align: center;
}

.destaque-item, .video-item {
    margin-bottom: 15px;
    text-align: center;
}

.text-films-series {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.vantagens, ul {
    list-style: none;
    padding: 0;
}

.vantagens {
    display: flex;
    flex-flow: column;
}


.AsVantangens{
    text-align: center;
    color: white;
}


.vantagens-items {
    font-size: 18px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.video-item iframe {
    margin: 0 auto;
    display: block;
}
.destaque-titulo{
    margin: 25px;
    justify-self: center;
}